#linkedin {
  width: 1.65em !important;
  padding-bottom: 0.15em;
}

.projectCarousel ~ #contact {
  margin-top: 2rem;
}

#contact img {
  transition: transform 1.0s ease-in-out;
  width: 1.875em;
}

#contact img:hover {
  transform: scale(1.5);
}

@media (max-width: 47.5em) {
  #contact.homeContact {
    min-height: 8rem;
    padding-bottom: 1.75rem !important;
  }

  #contact.homeContact .row {
    width: 100%;
  }
}
